/* Fonts from Google Fonts - more at https://fonts.google.com */

body {
  padding: 5px 25px;
  margin: 0;
  color: black;
  background-image:url(mainOcean.jpg);
  background-position:center center;
  text-align: center;
  margin-top: 50vh;
  transform: translateY(-50%);;
}

h1 {
  font-family: Impact, fantasy;
  font-size: 50px;
}



.blockReste {
  display: inline-block;
  width: 120px;
  height: 50px;
  font-family: Arial Narrow, sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.divReste {
  text-align: center;
}

.divReste input {
  width: 15%;
  height: 20px;
  border-radius: 12px;
}

.submit input {
  font-family: Arial Narrow, sans-serif;
  font-weight: bold;
  font-size: 12px;
  width: 100px;
  height: 25px;
  border-radius:5px;
  background-color:black;
  color:#fff;
  margin: 23px px 23px 5px;
}


  
}
