<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <servlet>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>servlets.CreateUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
    <servlet-class>servlets.Logout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddFriend</servlet-name>
    <servlet-class>servlets.AddFriend</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RemoveFriend</servlet-name>
    <servlet-class>servlets.RemoveFriend</servlet-class>
  </servlet>  
  <servlet>
  	<servlet-name>AddComment</servlet-name>
    <servlet-class>servlets.AddComment</servlet-class>
  </servlet>
  
  
  
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/Servlets/CreateUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Servlets/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Servlets/Logout</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>AddFriend</servlet-name>
    <url-pattern>/Servlets/AddFriend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveFriend</servlet-name>
    <url-pattern>/Servlets/RemoveFriend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/Servlets/AddComment</url-pattern>
  </servlet-mapping>
  
  
  
  <!-- Declaration Data Source -->
  <ressource-ref>
  	<description>DB Connexion</description>
  	<res-ref-name>jdbc/db</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </ressource-ref>
	
 
  
</web-app>